USE [master]
GO
/****** Object:  Database [QuanLyDatBan]    Script Date: 11/11/2024 8:45:59 PM ******/
CREATE DATABASE [QuanLyDatBan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyDatBan2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyDatBan2.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyDatBan2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QuanLyDatBan2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyDatBan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyDatBan]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[maBan] [nchar](10) NOT NULL,
	[maLoai] [nchar](10) NOT NULL,
	[trangThaiBan] [nvarchar](50) NOT NULL,
	[soLuongGhe] [int] NULL,
	[viTri] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ban] PRIMARY KEY CLUSTERED 
(
	[maBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[maCa] [nchar](10) NOT NULL,
	[gioBatDau] [time](7) NOT NULL,
	[gioKetThuc] [time](7) NOT NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietYeuCau]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietYeuCau](
	[maYeuCau] [nchar](10) NOT NULL,
	[maMonAn] [nchar](10) NULL,
	[soLuong] [int] NULL,
	[ghiChu] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHD] [nchar](20) NOT NULL,
	[maYeuCau] [nchar](10) NOT NULL,
	[maNV] [nchar](10) NOT NULL,
	[maBan] [nchar](10) NOT NULL,
	[soLuongKhach] [int] NOT NULL,
	[thoiGianTao] [date] NOT NULL,
	[ngayDatBan] [date] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKH] [nchar](10) NOT NULL,
	[tenKH] [nvarchar](50) NOT NULL,
	[sDT] [nvarchar](15) NOT NULL,
	[gioiTinh] [nvarchar](10) NOT NULL,
	[diaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiBan]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiBan](
	[maLoai] [nchar](10) NOT NULL,
	[tenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiBan] PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiMon]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiMon](
	[maLoai] [nchar](10) NOT NULL,
	[tenLoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiMon] PRIMARY KEY CLUSTERED 
(
	[maLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[maMonAn] [nchar](10) NOT NULL,
	[tenMonAn] [nvarchar](50) NOT NULL,
	[giaTien] [real] NOT NULL,
	[thongTinMon] [nvarchar](max) NULL,
	[trangThaiMonAn] [nvarchar](25) NOT NULL,
	[maLoai] [nchar](10) NOT NULL,
 CONSTRAINT [PK_MonAn] PRIMARY KEY CLUSTERED 
(
	[maMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNV] [nchar](10) NOT NULL,
	[maTK] [nchar](10) NOT NULL,
	[maCa] [nchar](10) NOT NULL,
	[tenNV] [nvarchar](50) NOT NULL,
	[sDT] [nvarchar](15) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
	[ngayVaoLam] [date] NOT NULL,
 CONSTRAINT [PK_NhanVien1] PRIMARY KEY CLUSTERED 
(
	[maNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[maTK] [nchar](10) NOT NULL,
	[tenTK] [nvarchar](50) NOT NULL,
	[chucVu] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[maTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[YeuCauKhachHang]    Script Date: 11/11/2024 8:46:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YeuCauKhachHang](
	[maYeuCau] [nchar](10) NOT NULL,
	[maKH] [nchar](10) NOT NULL,
 CONSTRAINT [PK_YeuCauKhachHang] PRIMARY KEY CLUSTERED 
(
	[maYeuCau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Ban] ([maBan], [maLoai], [trangThaiBan], [soLuongGhe], [viTri]) VALUES (N'B001      ', N'L001      ', N'Trống', 4, N'Tầng 1')
INSERT [dbo].[Ban] ([maBan], [maLoai], [trangThaiBan], [soLuongGhe], [viTri]) VALUES (N'B002      ', N'L001      ', N'Có khách', 4, N'Tầng 1')
INSERT [dbo].[Ban] ([maBan], [maLoai], [trangThaiBan], [soLuongGhe], [viTri]) VALUES (N'B003      ', N'L002      ', N'Trống', 6, N'Tầng 2')
INSERT [dbo].[CaLamViec] ([maCa], [gioBatDau], [gioKetThuc]) VALUES (N'C001      ', CAST(N'08:00:00' AS Time), CAST(N'16:00:00' AS Time))
INSERT [dbo].[CaLamViec] ([maCa], [gioBatDau], [gioKetThuc]) VALUES (N'C002      ', CAST(N'16:00:00' AS Time), CAST(N'00:00:00' AS Time))
INSERT [dbo].[ChiTietYeuCau] ([maYeuCau], [maMonAn], [soLuong], [ghiChu]) VALUES (N'YC001     ', N'M002      ', 1, N'adsdadsa')
INSERT [dbo].[ChiTietYeuCau] ([maYeuCau], [maMonAn], [soLuong], [ghiChu]) VALUES (N'YC001     ', N'M003      ', 1, N'adsdadsa')
INSERT [dbo].[ChiTietYeuCau] ([maYeuCau], [maMonAn], [soLuong], [ghiChu]) VALUES (N'YC001     ', N'M001      ', 1, N'adsdadsa')
INSERT [dbo].[HoaDon] ([maHD], [maYeuCau], [maNV], [maBan], [soLuongKhach], [thoiGianTao], [ngayDatBan]) VALUES (N'HD0001S0911001      ', N'YC001     ', N'NV001     ', N'B001      ', 4, CAST(N'2024-11-09' AS Date), CAST(N'2024-11-13' AS Date))
INSERT [dbo].[HoaDon] ([maHD], [maYeuCau], [maNV], [maBan], [soLuongKhach], [thoiGianTao], [ngayDatBan]) VALUES (N'HD0002C1111001      ', N'YC002     ', N'NV001     ', N'B017      ', 4, CAST(N'2024-11-11' AS Date), CAST(N'2024-11-28' AS Date))
INSERT [dbo].[HoaDon] ([maHD], [maYeuCau], [maNV], [maBan], [soLuongKhach], [thoiGianTao], [ngayDatBan]) VALUES (N'HD0003C1111001      ', N'YC002     ', N'NV001     ', N'B017      ', 4, CAST(N'2024-11-11' AS Date), CAST(N'2024-11-28' AS Date))
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sDT], [gioiTinh], [diaChi]) VALUES (N'KH000     ', N'Chưa có tên', N'0123456789', N'Nam', N'Không')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sDT], [gioiTinh], [diaChi]) VALUES (N'KH001     ', N'Trần Anh Hào', N'0386810184', N'Nam', N'123 Lê Lợi, Q.1, TP.HCM')
INSERT [dbo].[KhachHang] ([maKH], [tenKH], [sDT], [gioiTinh], [diaChi]) VALUES (N'KH002     ', N'Trần Thị B', N'0987654321', N'Nữ', N'456 Hai Bà Trưng, Q.3, TP.HCM')
INSERT [dbo].[LoaiBan] ([maLoai], [tenLoai]) VALUES (N'L001      ', N'bàn thường')
INSERT [dbo].[LoaiBan] ([maLoai], [tenLoai]) VALUES (N'L002      ', N'bàn vip')
INSERT [dbo].[LoaiBan] ([maLoai], [tenLoai]) VALUES (N'L003      ', N'bàn')
INSERT [dbo].[LoaiMon] ([maLoai], [tenLoai]) VALUES (N'LM001     ', N'Đồ uống')
INSERT [dbo].[LoaiMon] ([maLoai], [tenLoai]) VALUES (N'LM002     ', N'Món khô')
INSERT [dbo].[LoaiMon] ([maLoai], [tenLoai]) VALUES (N'LM003     ', N'Món nước')
INSERT [dbo].[MonAn] ([maMonAn], [tenMonAn], [giaTien], [thongTinMon], [trangThaiMonAn], [maLoai]) VALUES (N'M001      ', N'Trà sữa', 30000, N'Trà sữa thơm ngon với nhiều vị.', N'Có sẵn', N'LM001     ')
INSERT [dbo].[MonAn] ([maMonAn], [tenMonAn], [giaTien], [thongTinMon], [trangThaiMonAn], [maLoai]) VALUES (N'M002      ', N'Cà phê đen', 25000, N'Cà phê đen nguyên chất.', N'Có sẵn', N'LM001     ')
INSERT [dbo].[MonAn] ([maMonAn], [tenMonAn], [giaTien], [thongTinMon], [trangThaiMonAn], [maLoai]) VALUES (N'M003      ', N'Nước cam', 20000, N'Nước cam tươi mát.', N'Có sẵn', N'LM001     ')
INSERT [dbo].[NhanVien] ([maNV], [maTK], [maCa], [tenNV], [sDT], [email], [ngayVaoLam]) VALUES (N'NV001     ', N'TK001     ', N'C001      ', N'Trần Anh Hào', N'0386810184', N'anhhaopyke@gmail.com', CAST(N'2024-01-10' AS Date))
INSERT [dbo].[NhanVien] ([maNV], [maTK], [maCa], [tenNV], [sDT], [email], [ngayVaoLam]) VALUES (N'NV002     ', N'TK002     ', N'C002      ', N'Trần Haof Anh', N'0987654321', N'b.tran@student.iuh.edu.vn.com', CAST(N'2024-02-15' AS Date))
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK], [chucVu], [matKhau]) VALUES (N'TK000     ', N'hao', N'nhân viên', N'1234567Aa')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK], [chucVu], [matKhau]) VALUES (N'TK001     ', N'hao123A', N'nhân viên', N'1234567Aa')
INSERT [dbo].[TaiKhoan] ([maTK], [tenTK], [chucVu], [matKhau]) VALUES (N'TK002     ', N'haoql1', N'quản lý', N'1234567Aa')
INSERT [dbo].[YeuCauKhachHang] ([maYeuCau], [maKH]) VALUES (N'YC001     ', N'KH001     ')
INSERT [dbo].[YeuCauKhachHang] ([maYeuCau], [maKH]) VALUES (N'YC002     ', N'KH000     ')
INSERT [dbo].[YeuCauKhachHang] ([maYeuCau], [maKH]) VALUES (N'YC003     ', N'KH002     ')
ALTER TABLE [dbo].[Ban]  WITH CHECK ADD  CONSTRAINT [FK_Ban_LoaiBan] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiBan] ([maLoai])
GO
ALTER TABLE [dbo].[Ban] CHECK CONSTRAINT [FK_Ban_LoaiBan]
GO
ALTER TABLE [dbo].[ChiTietYeuCau]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietYeuCau_MonAn] FOREIGN KEY([maMonAn])
REFERENCES [dbo].[MonAn] ([maMonAn])
GO
ALTER TABLE [dbo].[ChiTietYeuCau] CHECK CONSTRAINT [FK_ChiTietYeuCau_MonAn]
GO
ALTER TABLE [dbo].[ChiTietYeuCau]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietYeuCau_YeuCauKhachHang] FOREIGN KEY([maYeuCau])
REFERENCES [dbo].[YeuCauKhachHang] ([maYeuCau])
GO
ALTER TABLE [dbo].[ChiTietYeuCau] CHECK CONSTRAINT [FK_ChiTietYeuCau_YeuCauKhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Ban] FOREIGN KEY([maBan])
REFERENCES [dbo].[Ban] ([maBan])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Ban]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNV])
REFERENCES [dbo].[NhanVien] ([maNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_YeuCauKhachHang] FOREIGN KEY([maYeuCau])
REFERENCES [dbo].[YeuCauKhachHang] ([maYeuCau])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_YeuCauKhachHang]
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD  CONSTRAINT [FK_MonAn_LoaiMon] FOREIGN KEY([maLoai])
REFERENCES [dbo].[LoaiMon] ([maLoai])
GO
ALTER TABLE [dbo].[MonAn] CHECK CONSTRAINT [FK_MonAn_LoaiMon]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_CaLamViec] FOREIGN KEY([maCa])
REFERENCES [dbo].[CaLamViec] ([maCa])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_CaLamViec]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([maTK])
REFERENCES [dbo].[TaiKhoan] ([maTK])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[YeuCauKhachHang]  WITH CHECK ADD  CONSTRAINT [FK_YeuCauKhachHang_KhachHang] FOREIGN KEY([maKH])
REFERENCES [dbo].[KhachHang] ([maKH])
GO
ALTER TABLE [dbo].[YeuCauKhachHang] CHECK CONSTRAINT [FK_YeuCauKhachHang_KhachHang]
GO
USE [master]
GO
